/*General*/
*{
    font-family: Electrolize, 'Times New Roman', serif;

}
#body{
    background-color: #0A103A;
    height: 100%;
    width: 100%;
}
/* -------------------First Frame ----------------------*/

#divMain{
    height: 820px;
    background-attachment: fixed;
    margin-top: 0px;
}

#imageBack{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
}

#MainTitle{
    color: white;
    font-size: 125px;
    margin-left: 12%;
    z-index: 2;
}

#IntConf{
    writing-mode: vertical-lr;
    color: white;
    white-space: nowrap;
    font-size: 40px;
    margin-left: 12%;
    rotate: 180deg;
}


#dateConf{
    color: rgb(212, 214, 248);
    position: absolute;
    white-space: nowrap;
    font-size: 55px;
    font-weight: bold;
    margin-left: 18%;
    margin-top: 0px;
}

#institute{
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: nowrap;
    font-size: 50px;
    font-weight: bold;
    margin-left: 18%;
    margin-top: 5%;
}

#cityName{
    color: rgb(212, 214, 248);
    position: absolute;
    white-space: nowrap;
    font-size: 40px;
    font-weight: bold;
    margin-left: 18%;
    margin-top: 15%;

}

@media screen and (max-width: 768px) {
    #divMain{
        height: 700px;
}
	#MainTitle{
    font-size: 100px;
    margin-left: 8%;
}
    #IntConf{
    margin-left: 8%;
    writing-mode: vertical-lr;

}
    #dateConf{
    font-size: 55px;
    margin-left: 15%;

}
    #institute{
    font-size: 50px;
    font-weight: bold;
    margin-left: 15%;
    margin-top: 10%;
    font-size: 30px;
}
#cityName{
    margin-left: 15%;
    margin-top: 20%;
}
}
@media screen and (max-width: 450px) {
    #divMain{
    height: 580px;
}
	#MainTitle{
    font-size: 38px;
    margin-left: 3%;
}
    #IntConf{
    margin-left: 3%;
    font-size: 27px;
}
    #dateConf{
    font-size: 20px;
    margin-left: 14%;

}
    #institute{
    font-size: 22px;
    margin-left: 14%;
    margin-top: 10%;
}
    #cityName{
    margin-left: 14%;
    margin-top: 30%;
    font-size: 20px;
}
}

/* Image not used
#Car{
    height: 500px;
    width: 740px;
    margin-left: 350px;
    margin-top: 200px;
    position: absolute;
}*/

/* ----------------------------------------------------- Header ---------------------------------------------------------*/

.MainText{
    background-color: white;
    width: 100%;
    height: 300px;
    opacity: 0.9;
    margin-bottom: 40px;
}
#WelcomeText1{
    text-align: center;
    font-size: 64px;
    color: #0A103A;
   
}


@media screen and (max-width: 450px) {
    .MainText{
        width: 100%;
        height: 150px;
        opacity: 0.9;
        margin-bottom: 10px;
}
    #WelcomeText1{
        text-align: center;
        font-size: 30px;
       
}
}

/* -----------------------------------------------------Navbar---------------------------------------------------------*/

nav{
    margin-bottom: 55px;
    text-align: center;
    background-color: #0A103A;
    padding: 5px;
    padding-top: 15px;

}
li{
    display: inline;
    padding: 10px;
    font-size: 21px;
    margin-bottom: 40px;

}
ul a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }

  ul a:hover {
    text-decoration: none;
    color: rgb(172, 178, 234);
}
  
/* -----------------------------------------------------Programme---------------------------------------------------------*/

#programmeShape{
    width: 35%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5%;
}

#programmeTitle{
    font-size: 50px;
    text-align: center;

}

.textProgramme{
    text-align: center;
    font-size: 25px;
}


@media screen and (max-width: 450px) {
    #programmeTitle{
        font-size: 30px;
    }
    #programmeShape{
        width: 55%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 5%;
    }
}
/* -----------------------------------------------------Important Dates---------------------------------------------------*/

#importantDate{
    width: 75%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

#titleDate{
    padding-top: 29px;
    color: #0A103A;
    font-size: 64px;
}

.dateClass{
    font-size: 27px;
}


@media screen and (max-width: 450px) {
    #importantDate{
        width: 100%;
        margin: auto;
        margin-top: 28px;
        margin-bottom: 28px;
        font-size: 40px;
    }  
    #titleDate{
        font-size: 44px;
    }
    
    .dateClass{
        font-size: 18px;
        padding: 4px;
    }
}
/* -----------------------------------------------------Topics------------------------------------------------------------*/

#TopicsDiv{
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-bottom: 40px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    }

#topicText{
        text-align: center;
        font-size: 64px;
        color: #0A103A;
        padding-top: 50px;
        grid-column-start: 1;
        grid-column-end: 2; 
    }

#par1{
    grid-column-start: 2;
    grid-column-end: 3;
}

#par2{
    grid-column-start: 3;
    grid-column-end: 4;
}

#par3{
    grid-column-start: 2;
    grid-column-end: 3;
}


#par4{
    grid-column-start: 3;
    grid-column-end: 4;
}

#par5{
    grid-column-start: 2;
    grid-column-end: 3;
}

#par6{
    grid-column-start: 3;
    grid-column-end: 4;
}

.titleTopic{
    font-weight: bold;
    font-size: 23px;
    color: black;
}


@media screen and (max-width: 450px) {
    .titleTopic{
        font-weight: bold;
        font-size: 18px;
    }
    
    .dateClass{
        font-size: 18px;
        padding: 4px;
    }
    #TopicsDiv{
        background-color: white;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        margin-bottom: 10px;
        padding-top: 0px;
        padding-left: 12px;
        padding-right: 12px;
        display: grid;
        grid-template-columns:60% 40%;
        grid-template-rows: auto auto auto auto;

        }
    #topicText{
            width: 100%;
            margin-top: 0px;
            margin-bottom: 2px;
            font-size: 30px;
            grid-column-start: 1;
            grid-column-end: 3;
        }  
        #par1{
            grid-column-start: 1;
            grid-column-end: 2;
            margin-left: 4px;
        }

        #par2{
            grid-column-start: 2;
            grid-column-end: 3;
        }

        #par3{
            grid-column-start: 1;
            grid-column-end: 2;
            margin-left: 4px;

        }

        #par4{
            grid-column-start: 2;
            grid-column-end: 3;
        }

        #par5{
            grid-column-start: 1;
            grid-column-end: 2;
            margin-left: 4px;

        }

        #par6{
            grid-column-start: 2;
            grid-column-end: 3;
}
}
/* --------------------------------------------------------------- Invited Speakers ----------------------------------------------*/

#invitedSpeaker{
    width: 100%;
    background-color:#0A103A;
    color: white;
    font-size: 25px;
    padding: 20px;
}

.speakers{
    margin: auto;
    text-align: center;
}

/* ---------------------------------------------------------------Committee----------------------------------------------*/
#CommitteeMembers{
    background-color:#0A103A;
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-bottom: 40px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    grid-template-rows: repeat(18);
    font-size: 25px;
}

#ComitteeText, #localOrg{
    font-size: 50px;
    color: white;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    position: absolute;
    padding-left: 40px;
    text-align: end;
}

#invite1, #invite3, #invite5, #invite7, #invite9, #invite11, #invite13, #invite15, #invite17 {
    grid-column-start: 2;
    grid-column-end: 3; 
}

.committeeName:link, .committeeName:visited, .orgName:link, .orgName:visited {
    text-decoration: none;
    color: rgb(223, 249, 249);
}

.committeeName:hover, .orgName:hover{
    color: rgb(172, 178, 234);
    }

.photoInvite{
    height: 80px;
    width: 80px;
    border-radius: 50%;   

}

@media screen and (max-width: 450px) {
    #ComitteeText{
        font-size: 30px;
        color: white;
        padding-top: 10px;
        grid-column-start: 1;
        grid-column-end: 2; 
        grid-row-start: 1;
        position: relative;
        padding-left: 40px;
        text-align: end;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #CommitteeMembers{
        width: 100%;
        height: 100%;
        opacity: 0.9;
        margin: auto;
        margin-bottom: 10px;
        padding-top: 10px;
        display: grid;
        grid-template-columns: 60% 40%; 
        grid-template-rows: repeat(19);
        font-size: 12px;
    }
    #invite1, #invite3, #invite5, #invite7, #invite9, #invite11, #invite13, #invite15, #invite17 {
        grid-column-start: 1;
        grid-column-end: 2; 
    }
    #invite1 p, #invite3 p, #invite5 p, #invite7 p, #invite9 p, #invite11 p, #invite13 p, #invite15 p, #invite17 p {
        padding-left: 15px;
    }
    .photoInvite{
        padding-left: 10px;   
    
    }
}

 /* ---------------------------------------------------- Local Organisers ----------------------------------------*/

#localHost{
    background-color:#0A103A;
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-bottom: 30px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    grid-template-rows: 100%;
    font-size: 25px;
}
@media screen and (max-width: 450px) {
    #localOrg{
    font-size: 20px;
    grid-column-start: 1;
     grid-column-end: 2; 
    }
    #localHost{
    height: 400px;
    font-size: 20px;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 15% 85%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    }
    #host1{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 15px;
    margin-top: 0px;
    }
    #host2{
    font-size: 15px;
    }
}
/* --------------------------------------------------------- Registration ----------------------------------------------*/

#registration{
    width: 100%;
    background-color:#0A103A;
    color: white;
    font-size: 25px;
}/* ---------------------------------------------------------- Paper Submission ----------------------------------------------*/

#paperSubmission{
    width: 100%;
    background-color:#0A103A;
    color: white;
    font-size: 25px;
}
 /* ----------------------------------------------------   Book Tickets ----------------------------------------*/

#tickets{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-bottom: 3%;
    opacity: 0.6;
    color: #060000;
}
/* ----------------------------------------------------   Registration ----------------------------------------*/

#registration{
    margin-bottom: 30px;
}

/* ----------------------------------------------------   Paper Submission ----------------------------------------*/

#paperSubmission{
    margin-bottom: 30px;
}

/* ----------------------------------------------------   Venue and Accomodation ----------------------------------------*/

#Logistics{
    background-color: #0A103A;
    color: #ffffff;
    height: 120px;
    margin-bottom: 30px;
    font-size: 25px;
}

.Logistic{
    text-align: center;
    margin-top: 20px;
}
/*---------------------------------------------------------- Blog --------------------------------------------*/
#blog{
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 35px;
}
#titleBlog{
    font-weight: bold;
    font-size: 25px;
}
.blogText{
    margin-left: 10%;
}

.blogText a{
    text-decoration: none;
    color: #060000;
}

.blogText a:hover{
    text-decoration: none;
    color: rgb(172, 178, 234);
}

@media screen and (max-width: 450px) {
    #blog{
        padding: 10px;
    }
    
}

/* Not sure for image
#imageTRI{
    width: 500px;
    height: 300px;
    opacity: 0.6;
    float: right;
}*/

/*---------------------------------------------------------- Footer --------------------------------------------*/

#footer{
    background-color: #ffffff;
    border-top: solid 1px #e9e3c9;
    padding-bottom: 25px; 
    padding-left: 10%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 70% 30%; 
    grid-template-rows: 100%;
}

#logoUni{
    width: 222px;
    height: 85px;
    float: right;
    clear: right;
    position: relative;
    margin-top: 0%;
    margin-right: 20%;
}

@media screen and (max-width: 450px) {
    #footer{
    grid-template-columns: 100%; 
    grid-template-rows: 100%;
    }
    #logoUni{
        width: 75px;
        height: 35px;
        float: right;
        clear: right;
        position: relative;
        margin-top: 0%;
        margin-right: 20%;
    }
    
}
